<section id="viability">
                <div class="container">
                    <div class="card">
                        <div class="card-icon pills"></div>
                        <div class="card-text">
                            <span>Evite o desperdício</span>
                            <p>Em 201X, Y medicamentos foram incinerados
                            pela perda da validade, ocasionando Z% do gás
                            carbono liberado na atmosfera no mesmo ano</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon plus"></div>
                        <div class="card-text">
                            <span>Responsabilidade ambiental</span>
                            <p>Ao adquirir um produto, você estará
                            evitando o desperdício de medicamentos e que
                            mais gases poluentes sejam emitidos</p>
                        </div>
                    </div>
                </div>
</section>